.main_hero {
  background: cover no-repeat;
  background-image: url("../../background_image.png");
  height: 60vh;
}

h1.main_hero_heading {
  padding-top: 109px;
  font-family: DM Sans;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
  padding-bottom: 159px;
  width: 300px;

}

@media screen and (max-width: 844px) {
  h1.main_hero_heading {
    text-align: center;
  }
}


@media screen and (max-width: 454px) {
  .main_hero {
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  h1.main_hero_heading {
    width: 203px;
    font-size: 20px;
  }

}