.main_header {
  background: #292929;
}

.main_header_title {
  display: inline;
  border: 2px solid #fff;
  padding: 4px;

  color: #FFFFFF;
}


@media screen and (max-width: 844px) {
  .main_header {
    text-align: center;
  }
  .main_header_title {
    text-align: center;
    width: 300px;
  }
}